<h1>ANDREA VAZQUEZ</h1>

<p>Her paintings are like portals of energy....
  <br>Like a window hung on the wall, it lets all special energy come into the room. Like windows allow air to flow and light to enter in....

<p>They are self-created.
  <br>Andrea’s paintings have been self creating....
  <br>They direct their design and color combinations....
  <br>The artist sits in a state of meditation, usually in the early morning and early evening and the thought of the painting activates the designs that are drawn. Andrea’s work from start to finish is done without any change or correction. The artist never leaves space on the canvas, all must be painted....
  <br>There is no blank spaces allowed, there are only a few shapes that continuously repeat and repeat like an alphabet....
  <br>The artist is unable to introduce new elements to the composition.</p>

<p>In all her collection, she uses this limited alphabet and yet there is never one that is the same or closely similar....
  <br>There is no top or bottom or this side or that side to the paintings....
  <br>They are meant to be hung in all four directions....</p>

<p>The paintings and the artist have an agreement....
  <br>The paintings ask the artist to keep making them and the paintings assure that they all have people they are meant to belong to....
  <br>The purpose of the paintings is protection and guidance....
  <br>They are here to help others be happy and secure and help in the evolution of their owners....
  <br>The paintings have an energy that makes them very resilient....
  <br>Some of them have been through a serious fire where they were the only things that didn't burn....</p>

<p>They are not decorative items....
  <br>They are like guardian angels....
  <br>They make whoever owns them happier, stronger, and well-accompanied....<p>

<p>The artist and the paintings have a promise....
  <br>A promise that they will take care of her and she in turn will use half the profit from sales to aid charity projects....
  <br>The paintings spontaneously manifested five years ago and they continue to come forth into this dimension to make this a better world and a happier existence....<p>

<p>It's all about pure heart and love for all....
  <br>People tend to make a special connection with some of the paintings....
  <br>That is the correct "prescription" for them....
  <br>That painting will balance whatever is off-balanced in that person's mind and life and space...
  <br>It will bring joy into the heart of the people that view them....
  <br>They bring a compassion with them that develops a compassion in those viewing them....<p>

<p>They clean our hearts....</p>
<p>They make us kinder....</p>
<p>They make us happier....</p>
<p>It is the artist's desire that all beings benefit from the paintings.</p>
