<p id="notice"><%= notice %></p>

<h1>Meditations</h1>

<% @meditations.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |meditation| %>
      <div class="col-xs=4">
        <%= image_tag meditation.file_url, :width => '100' if meditation.file.present? %>
        <h4><%= link_to meditation.title, meditation %></h4>
        <%= meditation.description %>
      </div>
    <% end %>
  </div>
<% end %>
