<p id="notice"><%= notice %></p>
<center>
<h1>Meditations</h1>
</center>

<% @meditations.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |meditation| %>
      <div class=" col-md-4 col-xs=4">

        <h4><%= link_to meditation.title, meditation %></h4>
        <%= image_tag meditation.image.url(:thumb) %>
        <%= meditation.description %>
      </div>
    <% end %>
  </div>
<% end %>